<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613504625914-u2bcjs6pcdf4fgpbgqb3ddaj5hb611et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613504625914-u2bcjs6pcdf4fgpbgqb3ddaj5hb611et</string>
	<key>API_KEY</key>
	<string>AIzaSyBLZylMcim5qYxnuEpNQBMrkUn_03DuamA</string>
	<key>GCM_SENDER_ID</key>
	<string>613504625914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jusang.AuthPro</string>
	<key>PROJECT_ID</key>
	<string>authpro-5647a</string>
	<key>STORAGE_BUCKET</key>
	<string>authpro-5647a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613504625914:ios:b982fec6e4ea6a0e67ad43</string>
</dict>
</plist>